{{ define "title" }}Membership | OSU Archery{{ end }}

{{ define "content" }}
 <h2>Membership</h2>
    <p>If you are unsure about joining, your first two practices are free to attend! 
        After that, to continute partcipating the in the club, membership dues are $25/term or $60/year. 
        Dues help pay for replacing and maintaining equipment, renting shooting space, hosting events, and attending tournaments. 
        You can pay your dues at club practices (with cash or check) or online on OSUSLI. </p>
{{ end }}